.home__main {
    max-width: 1200px;
    margin: 50px auto;
    .title {
        color: #00a8a9;
        margin: 10px 0;
        font-size: 1.5rem;
    }
    &-wrapp-post {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    .home__main-wrapp-post {
        padding: 0 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
    .title {
        font-size: 1.5rem;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .home__main-wrapp-post {
        padding: 0 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

@media only screen and (max-width: 425px) {
    .home__main-wrapp-post {
        padding: 0 10px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
}
